# visualize
plotly
seaborn
ipywidgets
pandas_profiling
matplotlib-venn
sweetviz
logzero

# kaggle
kaggle

# ml
wandb
jupyterlab
hydra-core
lightgbm
xgboost 
catboost
pytorch-lightning

# feature
category_encoders
bhtsne
umap

# nlp
gensim
fasttext
transformers
tensorflow
tensorflow_text
tensorflow_hub

# other
python-dotenv
