# base
seaborn
numpy
pandas
matplotlib
scipy
ipdb
matplotlib-venn

# DL
pytorch-lightning
transformers
tensorflow
tensorflow_text
tensorflow_hub

# ML
kaggle
optuna
wandb
scikit-learn
xgboost
lightgbm
catboost
hydra-core
jupyter
jupyterlab

# other
pathlib
typing
ipywidgets
logzero
